<%- include('../partials/header') %>

<h2>Edit Itinerary Info</h2>
<div class="form-container">
  <form
    action="/itineraries/<%= itinerary.id %>?_method=PUT"
    class="edit-form"
    method="POST"
    autocomplete="off"
  >
    <label>Trip Title</label><br />
    <input type="text" name="title" value="<%= itinerary.title %>" /><br />
    <label>Destination</label><br />
    <input
      type="text"
      name="locationAddress"
      id="locationAddress"
      value="<%= itinerary.location.address %>"
    /><br />
    <label>Start Date</label><br />
    <input
      type="date"
      name="startDate"
      value="<%= new Date(itinerary.startDate).toISOString().split('T')[0] %>"
      required
    /><br />
    <label>End Date</label><br />
    <input
      type="date"
      name="endDate"
      value="<%= new Date(itinerary.endDate).toISOString().split('T')[0] %>"
      required
    /><br />
    <label>Description</label><br />
    <textarea name="description" id="" cols="30" rows="3">
<%= itinerary.description %></textarea
    ><br />
    <button type="submit">Edit Itinerary Info</button>
  </form>
</div>

<%- include('../partials/footer') %>
