<%- include('../partials/header') %>

<div class="form-container">
     <form action="/itineraries/<%= itinerary.id %>?_method=PUT" id="edit-itinerary-form" method="POST" autocomplete="off">
        <label>Trip Title</label>
        <input type="text" name="title" value="<%= itinerary.title %>">
        <label>Start Date</label>
        <input type="date" name="startDate" value="<%= new Date(itinerary.startDate).toLocaleDateString('en-CA') %>" required>
        <label>End Date</label>
        <input type="date" name="endDate" value="<%= new Date(itinerary.endDate).toLocaleDateString('en-CA') %>" required>
        <label>Description</label>
        <textarea name="description" id="" cols="30" rows="3"><%= itinerary.description %></textarea>

        <% if (itinerary.items && itinerary.items.length > 0) { %>
            <% itinerary.items.forEach(function(item) { %> 
            <label>Item Name:</label>
            <input type="text"  name="items[<%= item._id %>][name]" value="<%= item.name %>">
            <label>Location:</label>
            <input type="text" name="items[<%= item._id %>][location]" value="<%= item.location %>">
            <label>Start Time:</label>
            <input type="date" name="items[<%= item._id %>][startTime]" value="<%= new Date(item.startTime).toLocaleDateString('en-CA') %>">
            <label>End Time:</label>
            <input type="date" name="items[<%= item._id %>][endTime]" value="<%= new Date(item.startTime).toLocaleDateString('en-CA') %>">
            <label>Notes:</label>
            <textarea name="items[<%= item._id %>][notes]"><%= item.notes %></textarea>
       <% }) %>
        <% } %>
        <button type="submit">Submit</button>

    </form>
</div>

<%- include('../partials/footer') %>
