<%- include('../partials/header') %>

<h2>It's Go Time</h2>
<div class="form-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% if (itineraries.length) { %>
        <% itineraries.forEach(i => { %> 
      <tr>
        <td><%= i.title %></td>
        <td><%= i.startDate.toLocaleDateString() %></td>
        <td>
          <%= new Date(i.endDate).toLocaleDateString('en-US', { year: 'numeric',
          month: 'long', day: 'numeric' }) %>
        </td>
        <td><%= i.description %></td>
        <td><a href="/itineraries/<%= i._id %>">Itinerary Details</a></td>
      </tr>
      <% }) %>
      <% } else { %>
      <tr>
        <td id="itinerary-table-message" colspan="5">
          Well, well, well, look who's arrived without a single itinerary!<br>Time to
          shake a leg and start planning! We're not getting any younger, you know!
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
