<%- include('../partials/header') %>

<h2>It's Go Time</h2>
<div class="form-container" id="itineraries-index">
  <% if (itineraries.length) { %> <% itineraries.forEach(i => { %>
  <table>
    <tr>
      <th colspan="2"><%= i.title %></th>
    </tr>
    <tr>
      <td colspan="2">
        <%= i.startDate.toLocaleDateString() %> - <%=
        i.endDate.toLocaleDateString() %>
      </td>
    </tr>
    <tr>
    <td>Description:<br> <%= i.description %></td></tr>
    <tr>
      <td colspan="2" style="text-align: center">
        <a href="/itineraries/<%= i._id %>">Itinerary Details</a>
      </td>
    </tr>
    <% }) %>
  </table>

  <% } else { %>
  <table>
    <tr>
      <td id="itinerary-table-message">
        Well, well, well, look who's arrived without a single itinerary!<br />
        Time to shake a leg and start planning! We're not getting any younger,
        you know!
      </td>
    </tr>
    <% } %>
  </table>
</div>

<%- include('../partials/footer') %>
