<%- include('../partials/header') %>
<script src="/google-places-api"></script>
<script src="/javascripts/google.js" async></script>

<h2>It's All in the Details</h2>
<div class="details-container">
  <!-- itinerary -->
  <div id="details-view">
    <div><h2 id="itinerary-title"><%= itinerary.title %></h2></div>
    <div><%= itinerary.location.name %></div>
    <div><%= itinerary.location.address %></div>
    <br />
    <div>
      <%= new Date(itinerary.startDate).toISOString().split('T')[0] %> - <%= new
      Date(itinerary.endDate).toISOString().split('T')[0] %>
    </div>
    <br />
    <div>Description: <%= itinerary.description %></div>
    <br />

    <!-- items -->
    <% if (items.length) { %> <% items.forEach(item => { %>
    <div><h4><%= item.name %></h4></div>
    <div><%= item.location.name %></div>
    <div><%= item.location.address %></div>
    <div>
      <%= new Date(item.startTime).toISOString().split('T')[0] %> - <%= new
      Date(item.endTime).toISOString().split('T')[0] %>
    </div>
    <div>Notes: <%= item.notes %></div>
    <br />
    <div id="item-buttons">
      <a href="/itineraries/<%= itinerary._id %>/items/<%= item._id %>/edit"
        >Edit Item</a
      >
      <form
        action="/itineraries/<%= itinerary._id %>/items/<%= item._id %>?_method=DELETE"
        method="POST"
      >
        <input
          id="delete-button"
          type="submit"
          value="Delete Item"
          onclick="return confirm('Are you sure you want to delete this item?')"
        />
      </form>
    </div>
    <% }) %>
    <br />
    <% } else { %>
    <p>
      Well, it looks like your itinerary is as empty as a speakeasy on a Monday
      night! Time to stir up some excitement and plan your next big adventure!
    </p>
    <% } %><br /><br />
  </div>

  <!-- add items -->
  <div id="item-form-container">
    <h3>Add Items</h3>
    <form
      action="/itineraries/<%= itinerary._id %>/items"
      id="new-item-form"
      method="POST"
    >
      <label>Item Name</label><br />
      <input type="text" placeholder="Optional" name="name" /><br />
      <label>Location</label><br />
      <input
        id="item-autocomplete"
        type="text"
        name="location[name]"
        placeholder="Enter a location"
      /><br />
      <input type="hidden" name="locationName" id="itemLocationName" />
      <input type="hidden" name="locationAddress" id="itemLocationAddress" />

      <div class="date-container">
        <div class="date-field">
          <label>Start Time</label>
          <input
            type="date"
            name="startTime"
            min="<%= itinerary.startDate %>"
            max="<%= itinerary.endDate %>"
          />
        </div>
        <div class="date-field">
          <label>End Time</label><br />
          <input type="date" name="endTime" />
        </div>
      </div>
      <label>Notes</label><br />
      <textarea placeholder="Arrive 15 minutes early..." name="notes"></textarea
      ><br />
      <input type="submit" value="Add Item" /><br />
    </form>
  </div>
</div>

<!-- buttons -->
<div id="itinerary-edit-delete">
  <a href="/itineraries/<%= itinerary._id %>/edit">Edit Itinerary</a>
  <form
    id="delete-form"
    action="/itineraries/<%= itinerary._id %>?_method=DELETE"
    method="POST"
  >
    <input type="hidden" name="method" value="DELETE" />
    <input
      type="submit"
      value="Delete Itinerary"
      onclick="return confirm('Are you sure you want to delete this itinerary?')"
    />
  </form>
</div>
<%- include('../partials/footer') %>
